<suite name="EndToEndTest">
    <test name="OrangeHRM_Test">
        <!--                <groups>-->
        <!--                    <run>-->
        <!--                        <include name = "dashboard validation" />-->
        <!--                    </run>-->
        <!--                </groups>-->
        <parameter name = "URL" value = "https://opensource-demo.orangehrmlive.com/web/index.php/auth/login" />
        <parameter name = "browserName" value = "chrome" />
        <classes>
            <class name="EndToEndTest.OrangeHRM_Tests" />
        </classes>
    </test>
</suite>